/******************************************************************************
Basics
******************************************************************************/
body {
	overflow: hidden;
}

/******************************************************************************
Page Content
******************************************************************************/
#knotBanner {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
}

#bannerContainer{
	width: 970px;
	height: auto;
}

@media (max-width: 767px) {
	#bannerContainer {
		width: 95%;
		height: auto;
	}
}
